.site-title + .main-nav {
    margin-block-start: 1em;
}

.copy-link {
  background-color: transparent;
  border: none;
  margin-block-start: 0;
  padding: 0;
  line-height: 1;
}

:is(.tag, a[rel='tag'], .collection-tag):hover {
  outline: none;
}

.tag + .tag,
a[rel='tag'] + a[rel='tag'] {
    margin-inline-start: 0.25rem;
}
