.p-name {
}

p:has(.p-author)+p:has(.dt-published) {
    margin-block-start: 0;
}

.e-summary {
}

.u-photo {
    vertical-align: middle;
    width: 60px;
    height: auto;
    outline: none;
}

.p-category {
}

.e-content > p,
.p-note > p {
    max-inline-size: 55ch;
}